---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: file-contents-sorter
        files: 'Solving Linear Relations using Linear Algebra/test_results/requirements.txt'
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/pylint-dev/pylint
    rev: v4.0.2
    hooks:
      - id: pylint
        name: static analysis python files
        args: ["--ignore=tests/"]
        additional_dependencies: ["numpy==1.26.1"]
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        name: lint python files
  - repo: https://github.com/markdownlint/markdownlint
    rev: v0.13.0
    hooks:
      - id: markdownlint
        name: lint markdown files
        args: ['--style', '.markdownlint.rb']
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        name: lint yaml files
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        name: lint bash files
  - repo: https://github.com/mrtazz/checkmake.git
    rev: 0.2.2
    hooks:
      - id: checkmake
        name: lint makefile
  - repo: local
    hooks:
      - id: chktex
        name: lint latex files
        description: This hook runs chktex for LaTeX linting.
        entry: chktex
        args: ['-l', '.chktexrc']
        language: system
        files: .*/.*\.tex$
