---
name: Full GitHub Action

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install chktex
        run: sudo apt-get update && sudo apt-get install -y chktex
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.0
